{% extends 'base.html.twig' %}

{% block title %}Mentions légales - Trouve ton stage{% endblock %}

{% block content %}
<div class="container-ml">
    <h1>Mentions légales</h1>
    <section class="legal-section">
        <h2>Éditeur</h2>
        <p>
            <span><strong>Nom :</strong> Zera</span><br>
            <span><strong>Email :</strong> <a href="mailto:zera7101@gmail.com">zera7101@gmail.com</a></span>

        </p>
    </section>
    <section class="legal-section">
        <h2>Directeur de la Publication</h2>
        <p>
            <span>Zera</span>
        </p>
    </section>
    <section class="legal-section">
        <h2>Hébergeur</h2>
        <p>
            <span><strong>Nom de l'Hébergeur :</strong> Microsoft Corporation</span><br>
            <span><strong>Adresse :</strong> One Microsoft Way, Redmond, WA 98052-6399, USA</span><br>
            <span><strong>Téléphone :</strong> +1 (425) 882-8080</span><br>
            <span><strong>Site web :</strong> <a href="https://www.microsoft.com">https://www.microsoft.com</a></span>
        </p>
    </section>
    <section class="legal-section">
        <h2>Propriété Intellectuelle</h2>
        <p>
            <span>Tous les contenus présents sur ce site (textes, images, logos, etc.) sont protégés par le droit d'auteur et ne peuvent être reproduits sans autorisation préalable.</span>
        </p>
    </section>
    <section class="legal-section">
        <h2>Données Personnelles</h2>
        <p>
            <span>
            Conformément à la loi "Informatique et Libertés" du 6 janvier 1978 modifiée et au Règlement Général sur la Protection des Données (RGPD), vous disposez d'un droit d'accès, de rectification et de suppression des données vous concernant.
            </span><br>
            <span>
            Pour l'exercer, contactez-nous à l'adresse suivante : <a href="mailto:zera7101@gmail.com">zera7101@gmail.com</a>.
            </span>
        </p>
    </section>
</div>
{% endblock %}
