.form-container {
  max-width: 500px;
  margin: 2rem auto;
  background: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

label {
  display: block;
  margin-bottom: 0.4rem;
  font-weight: bold;
  color: #444;
}

input[type="text"],
input[type="phone"] {
  width: 100%;
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}



.btn-add {
  display: inline-block;
  width: 100%;
  background-color: #7ab4f3;
  color: white;
  padding: 0.8rem;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-add:hover {
  background-color: #0056b3;
}